.counter__result-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

@media screen and (max-width: 560px) {
  .counter__result-list {
    margin-top: 15px;
  }
}