.container {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
}
  
.container--no-padding {
  padding-right: 0;
  padding-left: 0;
}

@media screen and (max-width: 560px) {
  .container{
    max-width: 320px;
  }
}