.heading-main {
  margin: 0;
  font-family: "PT Sans Caption", "Arial", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 64px;
  line-height: 83px;
}

@media screen and (max-width: 560px){
  .heading-main{
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 10px;
  }
}